npm_packages/n8n-nodes-agentcore-browser/examples/price-monitor-workflow.json
{
  "name": "AgentCore Price Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "name": "Schedule Daily 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "navigateExtract",
        "browserToolArn": "arn:aws:bedrock-agentcore:us-east-1:aws:browser/aws.browser.v1",
        "startUrl": "https://example.com/product/laptop",
        "selector": ".price-current",
        "extractMode": "text",
        "takeScreenshot": true,
        "waitForSelector": ".product-details"
      },
      "name": "Extract Price",
      "type": "n8n-nodes-agentcore-browser.agentcoreBrowser",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "agentcoreBrowserApi": {
          "id": "1",
          "name": "AWS AgentCore"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const price = parseFloat($json.data.replace('$', '').replace(',', ''));\nconst threshold = 999;\n\nreturn {\n  json: {\n    price,\n    threshold,\n    shouldAlert: price < threshold,\n    url: $json.url,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Check Price",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.shouldAlert}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Price Below Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "fromEmail": "alerts@example.com",
        "toEmail": "user@example.com",
        "subject": "Price Alert: Laptop Deal!",
        "text": "The laptop price dropped to ${{$json.price}}!\n\nCheck it out: {{$json.url}}"
      },
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1050, 200]
    }
  ],
  "connections": {
    "Schedule Daily 9am": {
      "main": [
        [
          {
            "node": "Extract Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Price": {
      "main": [
        [
          {
            "node": "Check Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Price": {
      "main": [
        [
          {
            "node": "Price Below Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Below Threshold?": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
